<template>
    <lightning-record-view-form
    record-id={recordId}
    object-api-name="Invoice__c"
>
<template if:true={showTemplate}>
<div class="slds-box slds-theme_default">
    <h3 class="slds-section__title slds-border_bottom slds-border_top slds-m-bottom_x-small" style="background-color: #F3F3F3;">Line Items Details</h3>
    <div class="slds-grid slds-wrap">
        
        <template if:true={showDescripAndRate2}>
            <div class="slds-col slds-size_6-of-12 ">
                <lightning-output-field field-name="Description_1__c"> </lightning-output-field>
            </div>
            
            <div class="slds-col slds-size_6-of-12 ">
                <lightning-output-field field-name="Rate_1__c"></lightning-output-field>
            </div>
            <div class="slds-col slds-size_6-of-12">
                <lightning-output-field field-name="Description_2__c"> </lightning-output-field>
            </div>
            <div class="slds-col slds-size_6-of-12">
                <lightning-output-field field-name="Rate_2__c"></lightning-output-field>
            </div>
        </template>

       
        <template if:true={showDescripAndRate3}>
            <div class="slds-col slds-size_6-of-12">
                <lightning-output-field field-name="Description_3__c"> </lightning-output-field>
            </div>
            <div class="slds-col slds-size_6-of-12">
                <lightning-output-field field-name="Rate_3__c"></lightning-output-field>
            </div>
        </template>
       

        <template if:true={showDescripAndRate4}>
            <div class="slds-col slds-size_6-of-12">
                <lightning-output-field field-name="Description_4__c"> </lightning-output-field>
            </div>
            <div class="slds-col slds-size_6-of-12">
                <lightning-output-field field-name="Rate_4__c"></lightning-output-field>
            </div>
        </template>


        <template if:true={showDescripAndRate5}>
            <div class="slds-col slds-size_6-of-12">
                <lightning-output-field field-name="Description_5__c"> </lightning-output-field>
            </div>
            <div class="slds-col slds-size_6-of-12">
                <lightning-output-field field-name="Rate_5__c"></lightning-output-field>
            </div>
        </template>
       
        <template if:true={showDescripAndRate6}>
            <div class="slds-col slds-size_6-of-12">
                <lightning-output-field field-name="Description_6__c"> </lightning-output-field>
            </div>
            <div class="slds-col slds-size_6-of-12">
                <lightning-output-field field-name="Rate_6__c"></lightning-output-field>
            </div>
        </template>

        <template if:true={showDescripAndRate7}>
            <div class="slds-col slds-size_6-of-12">
                <lightning-output-field field-name="Description_7__c"> </lightning-output-field>
            </div>
            <div class="slds-col slds-size_6-of-12">
                <lightning-output-field field-name="Rate_7__c"></lightning-output-field>
            </div>
        </template>
       
        <template if:true={showDescripAndRate8}>
            <div class="slds-col slds-size_6-of-12">
                <lightning-output-field field-name="Description_8__c"> </lightning-output-field>
            </div>
            <div class="slds-col slds-size_6-of-12">
                <lightning-output-field field-name="Rate_8__c"></lightning-output-field>
            </div>
        </template>

        <template if:true={showDescripAndRate9}>
            <div class="slds-col slds-size_6-of-12">
                <lightning-output-field field-name="Description_9__c"> </lightning-output-field>
            </div>
            <div class="slds-col slds-size_6-of-12">
                <lightning-output-field field-name="Rate_9__c"></lightning-output-field>
            </div>
        </template>
       
        <template if:true={showDescripAndRate9}>
            <div class="slds-col slds-size_6-of-12">
                <lightning-output-field field-name="Description_10__c"> </lightning-output-field>
            </div>
            <div class="slds-col slds-size_6-of-12">
                <lightning-output-field field-name="Rate_10__c"></lightning-output-field>
            </div>
        </template>
        <div class="slds-col slds-size_6-of-12">
            
        </div>
        <div class="slds-col slds-size_6-of-12 slds-border_bottom">
            <lightning-output-field field-name="Total_Line_Item_Amounts__c" style="font-weight: bold;"></lightning-output-field>
        </div>
    </div>
    <h3 class="slds-section__title slds-border_bottom slds-border_top slds-m-bottom_x-small slds-m-top_x-small" style="background-color: #F3F3F3;">Paid Deposit Details</h3>

    <div class="slds-grid slds-wrap">

        <template if:true={showDeposit1}>
            <div class="slds-col slds-size_6-of-12">
                <lightning-output-field field-name="Deposit_Paid_1__c"> </lightning-output-field>
            </div>     
        </template>
        


        <template if:true={showDeposit2}>
            <div class="slds-col slds-size_6-of-12">
                <lightning-output-field field-name="Deposit_Paid_2__c"> </lightning-output-field>
            </div> 
        </template>
       
        <template if:true={showDeposit3}>
            <div class="slds-col slds-size_6-of-12">
                <lightning-output-field field-name="Deposit_Paid_3__c"> </lightning-output-field>
            </div> 
        </template>
       
        <template if:true={showDeposit4}>
            <div class="slds-col slds-size_6-of-12">
                <lightning-output-field field-name="Deposit_Paid_4__c"> </lightning-output-field>
            </div> 
        </template>
        

        <template if:true={showDeposit5}>
            <div class="slds-col slds-size_6-of-12">
                <lightning-output-field field-name="Deposit_Paid_5__c"> </lightning-output-field>
            </div> 
        </template>

       
        <template if:true={showDeposit6}>
            <div class="slds-col slds-size_6-of-12">
                <lightning-output-field field-name="Deposit_Paid_6__c"> </lightning-output-field>
            </div> 
        </template>
       
        <template if:true={showDeposit7}>
            <div class="slds-col slds-size_6-of-12">
                <lightning-output-field field-name="Deposit_Paid_7__c"> </lightning-output-field>
            </div> 
        </template>
       
        <template if:true={showDeposit8}>
            <div class="slds-col slds-size_6-of-12">
                <lightning-output-field field-name="Deposit_Paid_8__c"> </lightning-output-field>
            </div> 
        </template>
        
        <template if:true={showDeposit9}>
            <div class="slds-col slds-size_6-of-12">
                <lightning-output-field field-name="Deposit_Paid_9__c"> </lightning-output-field>
            </div> 
        </template>
       
        <template if:true={showDeposit10}>
            <div class="slds-col slds-size_6-of-12">
                <lightning-output-field field-name="Deposit_Paid_10__c"> </lightning-output-field>
            </div>
        </template>
       
    </div>
    <div class="slds-grid slds-wrap">
        <div class="slds-col slds-size_6-of-12">
            
        </div>
    <div class="slds-col slds-size_6-of-12 slds-border_bottom" >
        <lightning-output-field field-name="Total_Deposit_Paid__c" style="font-weight: bold;"></lightning-output-field>
    </div>
    </div>
   
    
</div>
</template>



</lightning-record-view-form>
</template>