<apex:page standardController="Opportunity" renderAs="pdf" 
           standardStylesheets="false" showHeader="false" applyHtmlTag="false" applyBodyTag="false" docType="html-5.0">
    
    <html>
        <head>
            <style> 
             
                .cellcolor{background-color:#808080; color:white;} 
                .tablecellcolor{background-color:#808080;
                color:white;
                text-align: center}
                
                .colour{color:blue; font-size:11pt;}
                
                .divLeft{width:50%; float:left}
                .divRight{width:48%; float:right}
                
                table.gridtable th {
                border-width: 1px;
                border-style: solid;
                border-color: white;
                }
                
                table.gridtable td {
                border-width: 1px;
                border-style: solid;
                border-color: #666666;
                background-color: #e9ffdb;
                height: 20px !important; 
                }
                
                table.gridtable1 td {
                border-width: 1px;
                border-style: solid;
                border-color: #666666;
                background-color: #e9ffdb;
                height: 80px !important; 
                
                }
            </style>
        </head>
    </html>
    
    <body>  
               
        <div>
            <div class="divLeft" style="font-size:10pt;">
                <apex:outputLabel style="color:#000000;font-size:12pt;font-family: Georgia, serif;">
                        <b>Key Meetings dba/Key Events</b><br/>
                        530 Divisadero Street #311 <br/>
                        San Francisco, CA 94117 <br/>
                        keyevents.com <br/><br/><br/>
                        </apex:outputLabel>
            </div>
            <div style="width:40%; float:right">
                <apex:image id="theImage" value="{!$Resource.KeyEventLogo}" width="250" height="75"/>
            </div>
        </div>
        
        <div>
            <div class="divLeft" style="font-size:10pt;">
                <apex:outputLabel style="color:#000000;font-size:12pt;font-family: Georgia, serif;">
                        <b>BILL TO</b><br/>
                        Stacey Pompei, SVP, General <br/>
                        Counsel <br/>
                        Intelisys 03/22 <br/>
                        1318 Redwood Way<br/>
                        Petaluma<br/>
                        CA, 94952<br/><br/>
                        </apex:outputLabel>
            </div>
            <div style="width:40%; float:right; font-size:10pt;">
                <div style="font-size:12pt; width:100%">
                        <table border="0px" width="100%" cellpadding="5px" cellspacing="10px">
                            <tr>
                                <td class="cellcolor"><apex:outputText style="font-weight:bold; text-align: left">
                                    INVOICE 2004
                                    </apex:outputText></td>
                            </tr>
                            <tr>
                                <td class="cellcolor"><apex:outputText style="font-weight:bold; text-align: left">
                                    DATE 02/21/2022  TERMS Net 30
                                    </apex:outputText></td>
                            </tr>
                            <tr>
                                <td class="cellcolor"><apex:outputText style="font-weight:bold; text-align: left">
                                    DUE DATE 03/23/2022
                                    </apex:outputText></td>
                            </tr>
                        </table>
                    </div>
            </div>
        </div>
        
        <div>
            <div style="width:60%; float:left; font-size:10pt;">
                <hr style="width:95%; height:5px; background-color:#808080; text-align:left;margin-left:0"/><br/>
            </div>
            
            <div style="width:40%; float:right; font-size:10pt;">
                <hr style="width:100%; height:5px; background-color:#808080; text-align:left;margin-left:0"/>
            </div>
        </div>
        
        <div>
            <div class="divLeft" style="font-size:10pt;">
                <apex:outputLabel style="color:#000000;font-size:12pt;font-family: Georgia, serif;">
                    <b>JOB</b><br/>
                    Channel Connect 03.22 <br/><br/><br/>
                        </apex:outputLabel>
            </div>
            <div class="divRight" style="font-size:10pt;">
                <apex:outputLabel style="color:#000000;font-size:12pt;font-family: Georgia, serif;">
                        <b>LOCATION</b><br/>
                        TBD <br/>
                        </apex:outputLabel>
            </div>
        </div>
            
        <div>
            <div style="font-size:10pt; width:100%; float:left"> 
                <table border = "0px" style="width:100%" cellpadding = "1" cellspacing = "0">
                    <tr class="tablecellcolor" style="font-size:11pt">
                        <th>DESCRIPTION</th>
                        <th>QTY</th>
                        <th>RATE</th>
                        <th>AMOUNT</th>
                         
                    </tr>
                    
                        <tr style="text-align:center">
                            <td>Deposit #5</td>
                            <td>1</td>
                            <td>39,093.20</td>
                            <td>39,093.20</td>
                        </tr>
                    
                </table>
                <br/>  
            </div>
        </div>
        
        <div>
            <div style="width:24%; float:right; font-size:10pt;">
                Subtotal: 39,093.20<br/>
            </div>
        </div>
        
        <div>
        <div style="width:60%; float:left; font-size:10pt;">
            <br/><br/>
            We appreciate your prompt payment. Happy to work with you!!<br/>
        </div>
        </div>
        
        <div>
            <div style="width:40%; float:right; font-size:10pt;">
                <div style="font-size:12pt; width:100%">
                        <table border="0px" width="100%" cellpadding="5px" cellspacing="10px">
                            <tr>
                                <td class="cellcolor"><apex:outputText style="font-weight:bold; text-align: left">
                                    TOTAL DUE &nbsp;&nbsp;&nbsp;&nbsp; USD 39,093.20<br/>
                                    </apex:outputText></td>
                            </tr>
                        </table>
                    </div>
            </div>
        </div>
        
        <div>
            <div style="width:70%; float:left; font-size:10pt; margin-top:225px">
                <apex:outputLabel style="color:#000000;font-size:10pt;font-family: Georgia, serif;">
                    <br/><br/><br/><br/>
                        *Wire Transfer Information:<br/>
                        Union Bank of California <br/>
                        350 California St, 1st Floor <br/>
                        San Francisco, CA 94104 <br/>
                        ABA#: 122000496<br/>
                        Swift Code: BOFCUS33MPK<br/>
                        Account#: 0073748105<br/>
                        Tax ID #27-3461075<br/>
                        *Client is responsible for payment of banking fees associated with a wire transfer.
                        </apex:outputLabel>
            </div>
        </div>
        
    </body>
    
</apex:page>