<apex:page StandardController="Opportunity" renderAs="pdf" extensions="ContractPdfController" action="{!generatePDF}"
           standardStylesheets="false" showHeader="false" applyHtmlTag="false" applyBodyTag="false" docType="html-5.0">
    
    <html>
        <head>
            <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
            <style type="text/css">
                @page {
                size:A4 Portrait;
                <!-- margin-top: 2cm; -->
                margin-top: 2cm;
                margin-bottom: 2cm;
                margin-left: 1.5cm;
                margin-right:1.5cm;
                <!-- border: 2px double Black;     -->
                @top-right{
                content:element(header1);
                
                }  
                @top-left {
                content:element(header);
                }
                
                
                @bottom-center {
                content :element(footer);
                }
                }
                div.footer {
                position : running(footer);
                <!--   display: block;
padding: 5px;-->
                }
                
                div.header{
                position:running(header);
                position:running(header1);
                }
                }
                
                .red
                {
                color:red;
                }
                .vl {
                <!--    border-left: 2px solid Yellow;
height: 300px #ccc;-->
                <!--    display:inline-block;-->
                border-left: 2px solid Yellow ;
                <!-- margin: 0px 1px 2px 10px;-->
                height: 20px;
                
                }
                .indentation
                {
                
                margin-left: 50px;
                text-align: justify;
                }
                
                .tab {
                margin-left: 2.5em
                }    
                
                .divLeft{width:48%; float:left}
                .divRight{width:48%; float:right}
                
                #parent_div_1, #parent_div_2{
                margin-right:10px;
                
                text-align:center;
                }
                .child_div_1{
                float:left;
                margin-right:5px;
                } 
                
                #container {
    width: 640px; / Can be in percentage also. /
    height: auto;
    margin: 0 auto;
    padding: 10px;
    position: relative;
}
                
                  table {
                  border-collapse: collapse;
                  width: 100%;
                }
                
                  th, td {
                  text-align: left;
                  padding: 8px;
                }
                
                <!-- tr:nth-child(even) {background-color: #f2f2f2;} -->
            </style>
        </head>
        
    </html>
    <apex:form >
        <body>
            
            <div style="text-align: center;color:red;font-size:25px; font-weight: 900;text-decoration: underline;margin-top:50px">
                
            
          <apex:outputLabel value="{!IF(OR(opportunity.End_Date__c == null ,opportunity.Start_Date__c == null,
                                     opportunity.Commencement_of_Agreement_Date__c==null,opportunity.Client_Address__c==null,
                                     opportunity.Version__c==null,opportunity.X30_Days_Prior_Deposit__c==null,
                                     opportunity.Deposit_Schedule_First__c==null,opportunity.Deposit_Schedule_Second__c==null,
                                     opportunity.Deposit_Schedule_Due_Date__c==null,opportunity.EXHIBIT_A__c==null),
                                     'PLEASE ENTER THE REQUIRED FIELDS BEFORE GENERATING THE CONTRACT',' ')}" />
        		</div>
                
     
        
        <div>
            <div style="width:50%; float:left;margin-top:100px"><br/>
            </div>
            <div style="width:50%; float:right; margin-top:90px; text-align:right">
                <apex:image id="theImage" value="{!$Resource.KeyEventLogo}" width="325" height="100"/><br/><br/>
                <apex:outputLabel >CONTRACT + PAYMENT SCHEDULE
                </apex:outputLabel>
                
            </div>
            <br/>
            
            
        </div>
               <div class="footer" Style="font-family:Arial,Helvetica,sans-serif;font-size:10pt;color:#ccc;text-align:center;">
            
            <br/>
            <span style="color: #DA0037"><Strong>Key</Strong></span>events  <span class="vl"> </span> &nbsp; Confidential 2021
        </div>
        
            
        <div>
            <div class="divLeft" style="font-size:10pt; margin-top:90px; text-align:right;border-right:1px solid; padding-right:10px; line-height: 1.6">
                <apex:outputLabel style="font-family: Georgia, serif;  ">
                    <b>PREPARED FOR: <br/>
                        CLIENT NAME<br/>
                        COMPANY<br/>
                        PROGRAM NAME<br/>
                        PROGRAM DATES<br/>
                        CONTRACT DATE<br/>
                        VERSION</b><br/><br/>
                        </apex:outputLabel>
            </div>
            <div class="divRight" style="font-size:10pt; margin-top:90px; text-align:left; line-height: 1.6">
                <apex:outputLabel style="font-family: Georgia, serif;  ">
                    <br/>
                            <b><apex:outputText value="{!contact.name}"></apex:outputText><br/>
                        <!--COMPANY<br/>-->
                           <apex:outputText value="{!companyName}"></apex:outputText><br/>
                        <!--PROGRAM NAME<br/>-->
                           <apex:outputText value="{!opportunity.name}"></apex:outputText> <br/>   
                       <!-- PROGRAM DATES<br/>-->
                                
                            <apex:outputText value="{!IF(OR(opportunity.End_Date__c == null,opportunity.Start_Date__c == null ),' ',startdate)}" ></apex:outputText>
                                <apex:outputLabel escape="false" style="color:red;font-weight: 900;"
                                               value="{!IF(OR(opportunity.End_Date__c == null,opportunity.Start_Date__c == null ),'[ENTER START & END DATE ]',' ')}" /><!--&nbsp;&nbsp;-&nbsp;&nbsp;-->
                               <apex:outputLabel escape="false" style="color:black;font-weight: 900;"
                                               value="{!IF(OR(opportunity.End_Date__c == null,opportunity.Start_Date__c == null ),'','&#45; ')}" />
                                <apex:outputText value="{!IF(OR(opportunity.End_Date__c == null,opportunity.Start_Date__c == null ),' ',enddate )}"></apex:outputText> <br/>
                                
                                
                        <!--CONTRACT DATE<br/>-->
                           <apex:outputText value="{!todayDate}"></apex:outputText>
                           <apex:outputLabel style="color:red;font-weight: bold;font-size:12px;"
                                               value="{!IF(opportunity.Commencement_of_Agreement_Date__c == null,'[ENTER COMMENCEMENT OF AGGREMENT DATE]',' ')}" />     
                                <br/>
                            <!-- VERSION<br/>-->
                            <apex:outputText value="{!opportunity.Version__c}"></apex:outputText> </b>
                    		<apex:outputLabel style="color:red;font-weight: 900;"
                                               value="{!IF(opportunity.Version__c== null,'[ENTER VERSION]','')}" />
                      
                     
                        </apex:outputLabel>
            </div>
        </div>
            
            <div>
            <div class="divLeft" style="font-size:10pt; margin-top:50px; text-align:right;border-right:1px solid; padding-right:10px; line-height: 1.6">
                <apex:outputLabel style="font-family: Georgia, serif;  ">
                    <b>KEY CONTACT: <br/>
                        SALESPERSON NAME<br/>
                        COMPANY<br/>
                        MAILING ADDRESS<br/>
                        PHONE NUMBER<br/>
                        EMAIL ADDRESS</b><br/><br/>
                        </apex:outputLabel>
            </div>
            <div class="divRight" style="font-size:10pt; margin-top:50px; text-align:left; line-height: 1.6">
                <apex:outputLabel style="font-family: Georgia, serif;  ">
                        <!--<b>KEY CONTACT: <br/>-->
                    <br/>
                            <!-- CLIENT NAME<br/>--><b><apex:outputText value="{!user.name}"></apex:outputText><br/>
                    <!-- COMPANY<br/>-->Key Events, Inc.<br/>
                            <!--MAILING ADDRESS<br/><br/><apex:outputText value="{!contact.MailingStreet}"></apex:outputText><br/>-->
                  
                        
                        530 Divisadero Street #311
                        San Francisco, CA 94117<br/>
                    <!--PHONE NUMBER<apex:outputText value="{!phonenumber}"></apex:outputText><br/>-->(415) 695-8000<br/>
                    <!--heatherk@keyevents.com-->
                    <!-- EMAIL ADDRESS <apex:outputText value="{!contact.email}"></apex:outputText><br/><br/><br/>-->
                    <apex:outputText value="{!user.email}"></apex:outputText>
                    </b>
                        </apex:outputLabel>
            </div>
        </div>
        
        <div style="page-break-after:always;"> </div>
        
        <div Style="font-family:Arial,Helvetica,sans-serif;font-size:14px;text-align: justify">
            <center> <Strong>EVENT MANAGEMENT AGREEMENT</Strong> </center>
            <p Style="font-family:Arial,Helvetica,sans-serif;font-size:14px;" >
                <Span class="indentation">      This Event Management Agreement (hereafter “Agreement”) is entered into as of the
                    <apex:outputLabel style="color:red;font-weight: 900;"
                                               value="{!IF(opportunity.Event_Date__c== null ,'[ENTER EVENT DATE]',' ')}" />
                    
                    {!dayOfWeek} day
                    of {!month} {!year}, by Key Meetings, Inc. dba Key Events (“Key Events”), a California corporation 
                    and {!companyName} (hereafter “Client”).  Key Events and Client are sometimes referred to as a “Party” or 
                    collectively as the “Parties”.</Span>
                
            </p>
            
            
            <p>
                <Span class="indentation">  A.  <span class ="tab">Client plans to sponsor the Program which is described in Exhibit A to this Agreement and 
                    desires to engage the services of a qualified Event Management company to produce the Program as its agent: </span>
                    and </Span>
            </p>
            
            
            <p>
                
                
                <Span class="indentation">  b.  <span class ="tab">Key Events is an experienced Event Management company which represents that it is
                    qualified to produce the Program on the terms and conditions described in this Agreement. </span>
                </Span>
            </p>
            
            <p>
                <span class="indentation">NOW, THEREFORE, the Parties agree:</span>
            </p>
            
            <p>
                1.<span class="tab">    Commencement of Agreement.    It is anticipated that services contracted for under this Agreement will 
                begin on  <apex:outputLabel style="color:red;font-weight: 900;"
                                               value="{!IF(opportunity.Commencement_of_Agreement_Date__c == null,'[ENTER COMMENCEMENT OF AGGREMENT DATE]',' ')}" />{!todayDate}.</span>
            </p>
            
            <p>
                2.<span class="tab">    Scope of Services.    Key Events shall perform the services for Client identified in Exhibit A to this Agreement
                (the “Services”).</span>
                
            </p>
            <p>
                <span class="indentation">2.1<span class="tab"> Guarantees.  Client acknowledges that for certain portions of the Services a vendor may require 
                    guarantees and that it shall be the obligation of the Client to timely provide those guarantees. The Client also 
                    understands that the final billing to the Client will be based upon the actual number of attendees or the number of 
                    attendees guaranteed, whichever is greater. </span></span>
            </p>
            
            <p>
                <span class="indentation">2.2<span class="tab"> Guarantees for Transportation and Personnel.  For those portions of the Services which require 
                    transportation, or personnel guarantees of a minimum of 14 calendar days prior to the first day of the Services 
                    specified in Exhibit A is required, unless Key Events notifies the Client that a particular vendor requires a minimum 
                    greater than 14 calendar days.</span></span>
                
            </p>
            
            <p>
                <span class="indentation">2.3<span class="tab"> Guarantees for Meals or Food Service.  For portions of the Services that require meals or food 
                    service, guarantees will be due no later than five business days prior to the start of the Services specified in Exhibit 
                    A, unless Key Events notifies the Client that a particular vendor requires a minimum greater than five calendar days.  </span></span>
            </p>
            
            <p>
                3.<span class="tab">    Agency.<span class="tab">   Client hereby appoints Key Events as its agent to act on its behalf in that capacity in all 
                necessary respects within the scope of this Agreement and any Services.  Client hereby authorizes Key Events to 
                make purchases on its behalf in carrying out its duties as its agent.  Upon request, Client shall provide Key Events 
                with a signed letter of appointment naming Key Events and its specified staff members as its agent.</span></span>
            </p>
            
            <p>
                4.<span class="tab">    Fees and Expenses.</span>
            </p>
            
            <p>
                <span class="indentation">  4.1<span class="tab">   Fees.  Client will pay the fees set forth in Exhibit A (the “Fees”) in consideration for the Services. 
                    Notwithstanding Section 11(a) below, the Fee may be modified by an email exchange confirming such modification </span></span>
                by both Parties.
            </p>
            
            <p>
                <span class="indentation"> 4.2<span class="tab">    Expenses.  Due to unstable supplies of fuel oil, transportation companies have notified us that they 
                    may impose additional fuel surcharges at any time. Such surcharges shall be added to all Invoices when they are 
                    charged to Key Events by the transportation vendor. Any unusual or out-of-the-ordinary expenses shall be billed 
                    separately by Key Events, if in fact incurred by Key Events. </span></span>
                
            </p>
            
            
            
        </div>
        
        <!-- <div style="page-break-after:always;">-->
        <div Style="font-family:Arial,Helvetica,sans-serif;font-size:14px;text-align: justify">
            
            <p>
                <span class="indentation"> 4.3<span class="indentation">    Invoices.  Based on a program needs Key Events shall invoice Client for Fees and Expenses 
                    incurred as required.  Client shall remit payment for the Invoice within thirty (30) days of the date of the Invoice. 
                    Any Invoice, or portion thereof, which is not paid within thirty (30) days after the date of invoice shall be considered 
                    late and shall begin to accrue interest at a rate of 1.5% per month. In the event of a disputed invoice, Client must,
                    within thirty (30) days of the date of the invoice, identify the item on the invoice that is in dispute, provide a 
                    reasonable explanation for the dispute and remit payment for the undisputed portion in a timely fashion, or such 
                    dispute shall be deemed waived.  </span></span>
            </p>
            <p>
                <span class="indentation">4.4<span class="indentation"> All pricing in this proposal reflects a cash discount 
                    of 4%. If paying by credit card, the cash discount is waived. </span></span>
            </p>
            <p>
                <span class="indentation"> 4.5<span class="indentation">All programs booked less than 45 days in advance shall require 100% payment upon contracting 
                    and the 4% cash discount will be waived.</span></span>
            </p>
            <p>
                5.<span class="tab">Confidentiality.<span class="tab">    Key Events covenants that it shall maintain any and all confidential information 
                (“Confidential Information”) received from Client or developed in the course of rendering the Services, in complete 
                confidence and shall not disclose Confidential Information except at the direction of Client unless ordered to do so 
                by a court or agency of competent jurisdiction. </span></span>
            </p>
            
            <p>
                6.<span class="tab">Indemnification.<span class="tab">    Client agrees to defend, indemnify and hold harmless Key Events, and each of its 
                employees, agents, partners, representatives, officers, directors, subsidiaries, affiliates, predecessors, successors 
                and assigns (an “Indemnified Party”) from and against any and all claims, losses, costs (including attorneys’ fees 
                and costs), damages, suits or judgments, of any kind or nature, arising out of or relating to (i) any breach of this 
                Agreement by Company, (ii) any false information provided by the Company to Key Events or (iii) any content 
                provided to Key Events by Company which infringes upon any third party’s intellectual property rights, including but 
                not limited to patents, trademarks, copyrights, and/or trade secrets.</span></span>
            </p>
            
            <p>
                7.<span class="tab">LIMITATION OF LIABILITY.<span class="tab">EXCEPT FOR THE INDEMNIFICATION OBLIGATIONS SET FORTH 
                ABOVE, AND ANY COSTS INCURRED BY KEY EVENTS IN COLLECTING FEES OWED UNDER THIS 
                AGREEMENT, INCLUDING REASONABLE ATTORNEYS’ FEES AND COSTS, NEITHER PARTY SHALL BE 
                LIABLE, WHETHER IN CONTRACT OR IN TORT (INCLUDING BREACH OF WARRANTY, NEGLIGENCE, AND 
                STRICT LIABILITY IN TORT), FOR INDIRECT, INCIDENTAL, CONSEQUENTIAL, EXEMPLARY, PUNITIVE OR 
                SPECIAL DAMAGES EVEN IF SUCH PARTY HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES 
                IN ADVANCE</span></span>
            </p>
            
            <p>
                8.<span class="tab">    Occurrences beyond the Control of the Parties.<span class="tab"> Both Parties to this Agreement are required to perform 
                their obligations in full or in part, to the extent that they are reasonably able. </span></span>
            </p>
            
            <p>
                <span class="indentation"> 8.1 Events beyond Control.  Either Party may suspend or terminate its performance obligations, partially or 
                    entirely, to the extent that its obligations are prevented by events or occurrences beyond its control such as, but not 
                    limited to: acts of God, war, specific threat of war, government retaliation against domestic or foreign enemies,
                    government regulation or travel advisory, disasters, fire, earthquakes, accidents or other casualty, strikes or specific 
                    threat of strikes (exception: neither party may terminate nor suspend its performance under this agreement for 
                    strikes, labor disputes or work stoppages involving its respective employees or agents,) reasonable fear for personal 
                    safety by attendees, civil disorder, terrorist acts and/or specific threats of terrorism (as determined by the Office of 
                    Homeland Security, or the Overseas Security Advisory Council, the U.S. State Department and/or other valid 
                    sources or indicators on a case by case basis), acts of domestic or foreign enemies, curtailment of transportation 
                    services preventing some or all of attendees from attending, nuclear hazard or a similar intervening cause beyond 
                    the control of either party making it illegal, impossible or commercially impracticable to hold the Meeting / Event / 
                    Trip in whole or in part, or to provide the services outlines in this agreement.  After any such termination, Client shall 
                    be reimbursed its deposit identified in Exhibit B (“Deposit”) based on the Cancellation Policy outlined in Section 
                    10.1 and Key Events shall be entitled to receive payment as set forth in the second sentence of Section 10.</span>
            </p>
            <p>
                <span class="indentation">8.2 Partial Performance.  If a Party is able to perform its obligations in part but not in whole, the obligations 
                    that are negatively affected by acts or occurrences beyond that Party’s control may be suspended or terminated 
                    without liability.</span>
            </p>
            
            <p>
                <span class="indentation"> 8.3 Curtailment of Transportation.  Before Client may terminate its obligations in full due to curtailment of 
                    transportation, at least 60% of the attendees must be prevented from traveling and/or attending the meeting.</span>
            </p>
            
            <p>
                <span class="indentation"> 8.4. Rescheduling.  Should Client determine to reschedule or materially downsize the Services or event, it
                    shall promptly notify Key Events. Key Events shall have the option to cancel this Agreement and any Services 
                    without liability or to renegotiate the terms and conditions of its performance of the Services.  If Key Events elects
                    to cancel the Agreement or any Scope of Services, it shall be entitled to all expenses and Fees incurred to the same 
                    extent as it would be on cancellation by Client.</span>
            </p>
            
            <p>
                9.<span class="indentation">    Non-Solicitation. <span class="tab">   During one (1) year period following the last date upon which KEY EVENTS provides
                Services to Client, neither Party shall solicit for employment any employee of the other Party or induce or otherwise
                advise any employee of the other Party to leave the employment of the other Party.  This non-solicitation provision 
                shall not be deemed to be breached by (i) advertising of open positions, participating in job fairs and the like, or
                other forms of soliciting candidates for employment which, in good faith, are general in nature or not directed
                specifically at employees of the other Party, or (ii) responding to unsolicited inquiries about employment 
                opportunities from headhunters or other agents acting for unidentified principals.  Should a Party fail to comply with 
                this provision, such Party shall pay to the non-soliciting Party a recruiting fee equal to twenty-five (25%) of the 
                annual salary of the solicited employee (the “Recruiting Fee”).  The Recruiting Fee shall be due within ten (10) days of the date
                such employee was hired by the soliciting Party.</span></span>
            </p>
            
            <p>
                10.<span class="indentation">   Term and Termination.  <span class="tab">   Except as set forth above, this Agreement will continue in effect until (a) the date
                both Parties agree to terminate the Agreement, or (b) the date terminated by either Party upon fifteen (15) days’ 
                prior written notice, subject to the terms of Section 10.1, below.  Neither Party’s notice of termination shall affect
                Key Events’ right to receive payment for undisputed Invoices or reimbursement of expenses incurred on behalf of 
                the Client.  Following a termination under Section 10), Client shall still be obligated to pay certain non-refundable 
                fees, as per the schedule set forth below.  Sections 6, 7, 9, 10, and 11 shall survive any termination of this
                Agreement.</span></span>
            </p>
            
            <p>
                <span class="indentation">10.1<span class="tab">    Fees Due upon Cancellation by Client.   Notwithstanding anything contained herein to the
                    contrary, the Fees set forth below shall become non-refundable, or, if not yet paid, shall be immediately due, in the
                    event that Client cancels this Agreement as per Section 10, above: </span></span>
            </p>
            
            
            <p>
                <span class="indentation"> (i) Fifty percent (50%) of the Fees, if cancellation occurs within 120 days or more of the contracted 
                    <span class="indentation"> program or event;</span></span> </p>
            
            
            <p>   <span class="indentation">(ii) Seventy-Five percent (75%) of the Fees, if cancellation occurs between 60 and 120 of the
                    <span class="indentation">contracted program or event; and </span></span></p>
            <p>
                
                <span class="indentation">(iii)100% of the Fees, if cancellation occurs within sixty (60) days of the planned program or event;</span>
            </p>
            
            
            <p>
                <span class="indentation">10.2 Cancellation by Key Events.  If Key Events is unable to carry out the provisions of this Agreement 
                    or any Services for any reason, except a reason beyond its control, it shall promptly notify Client, and its liability 
                    under this Agreement and any Scope of Services Statement shall be limited to refunding the full deposit, excepting 
                    pre-approved expenses incurred and including non-refundable deposits paid to vendors.</span>
            </p>
        </div>
     <!--   <br/>
        <br/><br/><br/><br/><br/>-->
        
        <div Style="font-family:Arial,Helvetica,sans-serif;font-size:14px;text-align: justify">
           <!-- <br/> <br/>-->
            
            <p>
             <!--   <br/><br/><br/><br/><br/><br/>-->
                11.<span class="indentation">   Miscellaneous Provisions.</span>
            </p>
            
            <p>
                <span class="indentation"> (a)<span class="tab">    Notices.  Any notice required or permitted hereunder shall be
                    given in writing and shall be conclusively deemed given upon actual receipt if given by telegram, overnight courier, mail, telecopy or other
                    facsimile transmission addressed: (a) if to Key Events, to:</span></span>
                
            </p>
            
        </div>          
        
        <div>
            
            
            <p>
                <span class="indentation"> <span class="indentation"> Key Events, Inc.  <br/></span></span>
                <span class="indentation"> <span class="indentation">530 Divisadero Street #311 <br/></span></span>
                <span class="indentation"> <span class="indentation">San Francisco, CA 94117 <br/></span></span>
                <span class="indentation"> <span class="indentation"><a href="heatherk@keyevents.com">heatherk@keyevents.com</a> <br/></span></span>
                <span class="indentation"> <span class="indentation">Attn: Heather Keenan <br/></span></span>
                
            </p>
            <p>
                with a copy to: 
            </p>
            
            <p>
                <span class="indentation"> <span class="indentation"> Maier Law  Group  <br/></span></span>
                <span class="indentation"> <span class="indentation">802 B St <br/></span></span>
                <span class="indentation"> <span class="indentation">San Rafael, CA 94901 <br/></span></span>
                <span class="indentation"> <span class="indentation"><a href="diana@maierlawgroup.com ">diana@maierlawgroup.com </a> <br/></span></span>
                <span class="indentation"> <span class="indentation">Attn: Diana Maier  <br/></span></span>
                
            </p>
            <p>
                and if to Client, to:
            </p>
            
            <p>
                <span class="indentation"> <span class="indentation">{!contact.name} {!contact.title}</span></span><br/>
                <span class="indentation"> <span class="indentation"> {!opportunity.Client_Address__c}
                     <apex:outputLabel style="color:red;font-weight: 900;"
                                               value="{!IF(opportunity.Client_Address__c == null,'[ENTER CONTACT ADDRESS]',' ')}" />
                    
                    </span></span><br/>
                <span class="indentation"> <span class="indentation" style="color:blue"><u>{!contact.email}</u></span></span><br/>
                 <span class="indentation"> <span class="indentation">Attn:{!contact.name}</span></span>
            </p>
        </div>
        
        <div Style="font-family:Arial,Helvetica,sans-serif;font-size:14px;text-align: justify">
            
            
            <p>
                <span class="indentation"> (b)<span class="tab">    Waiver.  No provision of this Agreement shall be modified, waived or discharged unless the
                    modification, waiver or discharge is agreed to in writing and signed by KEY EVENTS and by an authorized officer
                    of the Client.  No waiver by either party or any breach of, or compliance with, any condition or provision of this 
                    Agreement by the other party shall be considered a waiver of any other condition or provision or of the same 
                    condition or provision at another time.</span></span>
            </p>
            
            
            <p>
                <span class="indentation">   (c)<span class="tab">  Taxes.  Unless otherwise stated on the invoice or Scope of Services Statement, the amounts billed
                    to Client do not include any sales, use or other taxes.  All such taxes shall be added to Client’s invoices. </span></span> 
            </p>
            
            <p>
                <span class="indentation"> (d)<span class="tab">    Whole Agreement.  No agreements, representations or understandings (whether oral or written and 
                    whether express or implied) which are not expressly set forth in this Agreement have been made or entered into by 
                    either party with respect to the subject matter hereof.</span></span>
            </p>
            
            <p>
                <span class="indentation"> (e)<span class="tab">    Choice of Law.  The validity, interpretation, construction and performance of this Agreement shall
                    be governed by the laws of the State of California (other than their choice-of-law provisions).</span></span>
            </p>
        </div>
        <div style="page-break-after:always;"> 
            
            
            <p>
                <span class="indentation"> (f)<span class="tab">    Arbitration.  Any controversy or claim arising out of or relating to this Agreement, or the breach 
                    thereof, shall be settled by arbitration in accordance with the Commercial Arbitration Rules of the American
                    
                    
                    <!--</div>-->
                    
                    <!--  <div Style="font-family:Arial,Helvetica,sans-serif;font-size:14px;text-align: justify">-->
                    
                    Arbitration Association in the City and County of San Francisco, and judgment on the award rendered by the 
                    arbitrator may be entered in any court having jurisdiction thereof.  The prevailing party will be entitled to receive 
                    from the non-prevailing party all costs, damages and expenses, including reasonable attorney's fees, incurred by
                    the prevailing party in connection with that action or proceeding whether or not the controversy is reduced to 
                    judgment or award.  The prevailing party will be that party who may be fairly said by the arbitrator(s) to have
                    prevailed on the major disputed issues.  Notwithstanding the foregoing, nothing in this Agreement shall bar either
                    party from obtaining injunctive relief through the Superior Court or Federal Courts of the same jurisdiction.  In the
                    event of a collection matter, Client waives any obligation of Key Events to post a bond if seeking injunctive relief for
                    the same. </span></span>
            </p>
            
            <p > 
                <span class="indentation">(g)<span class="tab"> Severability.  The invalidity or unenforceability of any provision of this Agreement shall not affect 
                    the validity or enforceability of any other provision hereof, which shall remain in full force and effect.</span></span>
            </p>
            
            <p>
                <span class="indentation"> (h)<span class="tab">    Assignment and Successors.  Neither party shall assign any right or delegate any obligation 
                    hereunder without the other party’s written consent, and any purported assignment or delegation by a party hereto</span></span>
                without the other party’s written consent shall be void.
            </p>
            
            <p>
                <span class="indentation"> (i)<span class="tab">    Presumptions.  In construing the terms of this Agreement, no presumption shall operate in favor of
                    or against any party as a result of its counsel’s role in drafting this Agreement.</span></span>
            </p>
            <p>
                <span class="indentation"> (j)<span class="tab">    Counterparts; Facsimile.  This Agreement may be executed in two or more counterparts, each of
                    which shall be deemed an original, but all of which together shall constitute one and the same instrument.  A 
                    facsimile copy of an executed signature page shall be deemed an original.</span></span>
                
                
                
            </p>
        </div>
        
        
        
        <div Style="font-family:Arial,Helvetica,sans-serif;font-size:14px;text-align: justify;page-break-before:always;">
            
            <p>
                <span class="indentation"> <span class="tab">   IN WITNESS WHEREOF, the parties hereto have executed this Agreement as of the date set forth above.
                    </span></span>
                
            </p>
            <br/><br/><br/>
            <p>
               <!-- {!clientname}-->{!contact.name}
            </p>
            <br/><br/><br/>
            
            
            
            <hr style="margin-right: 450px"/>
            <p>
                [<span style="color:red">INSERT SIGNATORY</span>],[<span style="color:red">INSERT TITLE</span>]
                
                
            </p>
            <br/><br/><br/>
            <p>
                KEY EVENTS, INC.  
            </p>
            
            
            
            
            
            <br/><br/><br/>
            
            
            
            <hr style="margin-right: 450px"/>
            <p>
                [<span style="color:red">INSERT SIGNATORY</span>],[<span style="color:red">INSERT TITLE</span>]
                
                
            </p>
            
        </div>
            <div style="page-break-after:always;"> </div>
        
            <div style="text-align:center;font-weight: 900;line-height:1.3;">
                <p>
                    EXHIBIT A<br/>
                    SERVICES &amp; FEES
                    
                    
                </p>
                 <apex:outputLabel escape="false" style="color:red;font-weight: 900;"
                                   value="{!IF(opportunity.EXHIBIT_A__c == null,'[ENTER &quot;EXHIBIT A&quot; IN OPPORTUNITY PAGE]',' ')}" />
                <p>
                    
                
               <apex:outputText style="text-align:left;font-weight: 300;line-height:1.36" escape="false" value="{!opportunity.EXHIBIT_A__c}" ></apex:outputText>
                </p>
              <!--  <p style="text-align:justify;font-weight: 300;line-height:1.36">{!opportunity.Exhibit_A123__c}</p><br/>-->
                 <p style="margin-top:50px;font-weight: 200">(SEE NEXT PAGE)</p>
            </div>
            
             <div style="page-break-after:always;"> </div>
         
           <div >
               <p style="text-align:center;font-weight: 900;line-height:1.3;">EXHIBIT B<br/>  
                DEPOSIT &amp; PAYMENT SCHEDULE
               </p><br/>
               
               <p>
                   <span class="tab"> Client shall pay an <span> <apex:outputLabel style="color:red;font-weight: 900;"
                                               value="{!IF(OR(opportunity.X30_Days_Prior_Deposit__c == null),'[ENTER 30 DAYS PRIOR DEPOSIT]',' ')}" />{!opportunity.X30_Days_Prior_Deposit__c}<span>%</span></span> deposit 30 days (upon confirmation) prior to the start of the Services. In 
                   addition, Client acknowledges and agrees that all arrangements made on its behalf with other vendors shall be
                   considered to be tentative until such time as the Client returns a signed Agreement and the specified deposit
                       outlined in the Deposit Schedule below.</span></p>
               
               <p>
                 <span class="tab">  Non-refundable Deposits.  Certain Services components, such as venue rental fees, may require earlier 
                   deposits which may become non-refundable as event dates approach. Any such deposits will be reported in
                     writing to Client.</span>
               </p><br/>
               
               <p style="text-align:center;font-weight: 700;font-size: 15px;">DEPOSIT SCHEDULE</p><br/>  
               <table>
                      <tr style="border-top: 1px solid #2D31FA;">
                      <th style="width:20%;border-bottom: 1px groove #4B7BE5;border-top: 1px groove #4B7BE5;">Deposit </th>
                      <th style="border-bottom: 1px groove #4B7BE5;border-top: 1px groove #4B7BE5;">Amount</th>
                      <th style="border-bottom: 1px groove #4B7BE5;border-top: 1px groove #4B7BE5;">Due</th>
                      </tr>
                      <tr style="background-color: #EFF8FF;border-top: 1px solid #041562;">
                      <td>First</td>
                      <td><span><apex:outputLabel style="color:red;font-weight: 900;"
                                               value="{!IF(opportunity.Deposit_Schedule_First__c == null,'[ENTER FIRST DEPOSIT SCHEDULE]',' ')}" />
                          {!opportunity.Deposit_Schedule_First__c}<span>%</span></span>  of total program estimate</td>
                      <td>Upon receipt</td>
                      </tr>
                      <tr>      
                      <td>Second</td>
                          <td><span><apex:outputLabel style="color:red;font-weight: 900;"
                                               value="{!IF(opportunity.Deposit_Schedule_Second__c == null,'[ENTER SECOND DEPOSIT SCHEDULE]',' ')}" />
                              {!opportunity.Deposit_Schedule_Second__c}<span>%</span></span> of total program estimate</td>
                          <td><span><apex:outputLabel style="color:red;font-weight: 900;"
                                               value="{!IF(opportunity.Deposit_Schedule_Due_Date__c == null,'[ENTER DEPOSIT SCHEDULE DUE DATE]',' ')}" />{!scheduleDate}</span></td>
                      </tr>
                      <tr style="background-color: #EFF8FF;border-bottom: 1px groove #4B7BE5;">
                      <td style="border-bottom: 1px groove #4B7BE5;">Final </td>
                      <td style="border-bottom: 1px groove #4B7BE5;">FINAL BALANCE including onsite changes     </td>
                      <td style="border-bottom: 1px groove #4B7BE5;">30 days upon receipt</td>
                      </tr>
  
                </table>

            </div>
        </body>
    </apex:form>    
    
    
</apex:page>