<!--
  @description       : 
  @author            : ChangeMeIn@UserSettingsUnder.SFDoc
  @group             : 
  @last modified on  : 07-28-2022
  @last modified by  : ChangeMeIn@UserSettingsUnder.SFDoc
-->
<template>
    
    <lightning-record-view-form record-id={recordId} object-api-name="Opportunity">

        
        <div class="slds-box slds-theme_default">
            
            <div class="slds-grid slds-wrap">

                
                    <div class="slds-col slds-size_6-of-12 ">
                        <lightning-output-field field-name="Event_Name__c"> </lightning-output-field>
                    </div>

                    <div class="slds-col slds-size_6-of-12 ">
                        <lightning-output-field field-name="Event_Date__c"> </lightning-output-field>
                    </div>

                    <div class="slds-col slds-size_6-of-12 ">
                        <lightning-output-field field-name="Event_Manager__c"> </lightning-output-field>
                    </div>
              
                    <div class="slds-col slds-size_6-of-12 ">
                        <lightning-output-field field-name="Commencement_of_Agreement_Date__c"> </lightning-output-field>
                    </div>
                
                    <div class="slds-col slds-size_6-of-12 ">
                        <lightning-output-field field-name="Version__c"> </lightning-output-field>
                    </div>

                    <div class="slds-col slds-size_6-of-12 ">
                        <lightning-output-field field-name="Aggreement_Date__c"> </lightning-output-field>
                    </div>

                    <div class="slds-col slds-size_6-of-12 ">
                        <lightning-output-field field-name="Terms__c"> </lightning-output-field>
                    </div>

                    <div class="slds-col slds-size_6-of-12 ">
                        <lightning-output-field field-name="Deposit_Schedule_Due_Date__c"> </lightning-output-field>
                    </div>

                    <div class="slds-col slds-size_6-of-12 ">
                        <lightning-output-field field-name="X30_Days_Prior_Deposit__c"> </lightning-output-field>
                    </div>
            </div>

                    <h6 class="slds-section__title slds-m-bottom_x-small slds-m- top_x-small" style="background-color: #F3F3F3;" >Deposit Schedule Details</h6>

                <div class="slds-grid slds-wrap">
                    <template if:true={showDeposit1}>
                        <div class="slds-col slds-size_6-of-12">
                            <lightning-output-field field-name="Deposit_Schedule_First__c"> </lightning-output-field>
                        </div>
                        <div class="slds-col slds-size_6-of-12">
                            <lightning-output-field field-name="First_Schedule_Due_Date__c"> </lightning-output-field>
                         </div>
                    </template>

                    <template if:true={showDeposit2}>
                        <div class="slds-col slds-size_6-of-12">
                            <lightning-output-field field-name="Deposit_Schedule_Second__c"> </lightning-output-field>
                            
                           
                        </div>
                        <div class="slds-col slds-size_6-of-12">
                            <lightning-output-field field-name="Second_Schedule_Due_Date__c"> </lightning-output-field>
                        </div>
                    </template>

                    <template if:true={showDeposit3}>
                        <div class="slds-col slds-size_6-of-12">
                            <lightning-output-field field-name="Third_Deposit_Schedule__c"> </lightning-output-field>
                           
                        </div>
                        <div class="slds-col slds-size_6-of-12">
                            <lightning-output-field field-name="Third_Schedule_Due_Date__c"> </lightning-output-field>
                        </div>
                    </template>

                    <template if:true={showDeposit4}>
                        <div class="slds-col slds-size_6-of-12">
                            <lightning-output-field field-name="Fourth_Deposit_Schedule__c"> </lightning-output-field>
                            
                        </div>
                        <div class="slds-col slds-size_6-of-12">
                            <lightning-output-field field-name="Fourth_Schedule_Due_Date__c"> </lightning-output-field>
                        </div>
                    </template>

                    <template if:true={showDeposit5}>
                        <div class="slds-col slds-size_6-of-12">
                            <lightning-output-field field-name="Fifth_Deposit_Schedule__c"> </lightning-output-field>
                            
                        </div>
                        <div class="slds-col slds-size_6-of-12">
                            <lightning-output-field field-name="Fifth_Schedule_Due_Date__c"> </lightning-output-field>
                        </div>
                    </template>

                    <template if:true={showDeposit6}>
                        <div class="slds-col slds-size_6-of-12">
                            <lightning-output-field field-name="Sixth_Deposit_Schedule__c"> </lightning-output-field>

                        </div>
                        <div class="slds-col slds-size_6-of-12">
                            <lightning-output-field field-name="Sixth_Schedule_Due_Date__c"> </lightning-output-field>
                        </div>
                    </template>

                    <template if:true={showDeposit7}>
                        <div class="slds-col slds-size_6-of-12">
                            <lightning-output-field field-name="Seventh_Deposit_Schedule__c"> </lightning-output-field>
                            
                        </div>
                        <div class="slds-col slds-size_6-of-12">
                            <lightning-output-field field-name="Seventh_Schedule_Due_Date__c"> </lightning-output-field>
                        </div>
                    </template>

                    <template if:true={showDeposit8}>
                        <div class="slds-col slds-size_6-of-12">
                            <lightning-output-field field-name="Eighth_Deposit_Schedule__c"> </lightning-output-field>
                           
                        </div>
                        <div class="slds-col slds-size_6-of-12">
                          
                            <lightning-output-field field-name="Eighth_Schedule_Due_Date__c"> </lightning-output-field>
                        </div>

                    </template>

                    <template if:true={showDeposit9}>
                        <div class="slds-col slds-size_6-of-12">
                            <lightning-output-field field-name="Ninth_Deposit_Schedule__c"> </lightning-output-field>
                            
                        </div>
                        <div class="slds-col slds-size_6-of-12">
                            <lightning-output-field field-name="Ninth_Schedule_Due_Date__c"> </lightning-output-field>
                        </div>
                    </template>

                    <template if:true={showDeposit10}>
                        <div class="slds-col slds-size_6-of-12">
                            <lightning-output-field field-name="Tenth_Deposit_Schedule__c"> </lightning-output-field>
                          
                        </div>
                        <div class="slds-col slds-size_6-of-12">
                            <lightning-output-field field-name="Tenth_Schedule_Due_Date__c"> </lightning-output-field>
                        </div>
                    </template>

                    <template if:true={showDeposit11}>
                        <div class="slds-col slds-size_6-of-12">
                            <lightning-output-field field-name="Eleventh_Deposit_Schedule__c"> </lightning-output-field>
                            
                        </div>
                        <div class="slds-col slds-size_6-of-12">
                            <lightning-output-field field-name="Eleventh_Schedule_Due_Date__c"> </lightning-output-field>
                        </div>
                    </template>

                    <template if:true={showDeposit12}>
                        <div class="slds-col slds-size_6-of-12">
                            <lightning-output-field field-name="Twelfth_Deposit_Schedule__c"> </lightning-output-field>
                            
                        </div>
                        <div class="slds-col slds-size_6-of-12">
                            <lightning-output-field field-name="Twelfth_Schedule_Due_Date__c"> </lightning-output-field>
                        </div>
                    </template>
            </div>
        </div>
</lightning-record-view-form>

</template>