<template>
    <lightning-record-view-form record-id={recordId} object-api-name="Opportunity">

        
            <div class="slds-box slds-theme_default">
                <h6 class="slds-section__title slds-m-bottom_x-small" style="background-color: #F3F3F3;" >Installment Details For 'Percentage' Contract Type</h6>

                <div class="slds-grid slds-wrap">

                    
                        <div class="slds-col slds-size_6-of-12 ">
                            <lightning-output-field field-name="Percentage_No_1__c"> </lightning-output-field>
                        </div>
                        <div class="slds-col slds-size_6-of-12 ">
                            <lightning-output-field field-name="Percentage_No_2__c"> </lightning-output-field>
                        </div>
                
                   

                    
                        <div class="slds-col slds-size_6-of-12 ">
                            <lightning-output-field field-name="Percentage_No_3__c"> </lightning-output-field>
                        </div>
                   
                    
                  
                        <div class="slds-col slds-size_6-of-12 ">
                            <lightning-output-field field-name="Percentage_No_4__c"> </lightning-output-field>
                        </div>
                  
                    
                    
                        <div class="slds-col slds-size_6-of-12 ">
                            <lightning-output-field field-name="Percentage_No_5__c"> </lightning-output-field>
                        </div>
                </div>
            </div>
    </lightning-record-view-form>
</template>